<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="main-title">

    <div class="title">
      <div class="text">
        <h2 class="name">ReqCheck <br>ONE</h2>

        <p class="slogan0">Gestión de requisitos potenciada por agentes inteligentes</p>

        <p class="slogan">PRESICIÓN SIN ESFUERZO.</p>
      </div>
    </div>


    <div class="image">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo ReqCheckOne">
      </div>
    </div>

  </div>

  <div class="main-product">
    <h1>product</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque id autem placeat sapiente repudiandae provident
      asperiores. Aut, facere dolore eos, veritatis autem sapiente sequi aperiam, eligendi doloribus saepe voluptatibus
      consectetur!</p>
    <div class="product1 ">
    </div>

    <div class="product2 ">
    </div>

    <div class="product3 ">
    </div>

  </div>

  <div class="main-services">
    <h2>services</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aperiam cupiditate minima nisi, adipisci quam
      voluptatibus hic tempore quos consequatur unde earum <br>
      praesentium facere porro ad accusantium non sapiente reiciendis.</p>
  </div>
  <footer>
    <p>© 2024 ReqCheckOne. All rights reserved.</p>
  </footer>
</body>

</html>