.layout {
  display: flex;
}

/* Con sidebar */
.content {
  margin-left: 240px;
  transition: margin-left 0.3s ease;
  padding: 1.5rem;
  width: 100%;
}

.content.collapsed {
  margin-left: 70px;
}

/* Sin sidebar */
.content.full {
  margin-left: 0;
}
